.ais-InstantSearch {
  max-width: 960px;
  overflow: hidden;
  margin: 0 auto;
}

.card {
  flex-basis: 33.3%;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 960px;
  overflow: hidden;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: space-around;
}

#selectbox {
  border: none !important;
  outline: none !important;
}
