#card1 {
  /* display: block; */
  /* position: relative; */

  background-color: #e7f7fa;
  border-radius: 30px;
  box-shadow: #4d6a77;
  padding: 32px 24px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  color: #4d6a77;
}

#card1:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -16px;
  background: #86c6e4;
  opacity: 0.75;
  height: 32px;
  width: 32px;
  border-radius: 32px;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: transform 0.25s ease-out;
}
#card1:hover::before {
  transform: scale(33);
}
#card1:hover {
  transition: all 0.3s ease-out;
  color: #ffffff;
}
#card1 h5 {
  font-weight: 700;
}
#card1 p {
  /* color: #989c93; */
  font-weight: 500;
}
#card2 {
  background-color: #e7faf2;
  border-radius: 30px;
  padding: 32px 24px;
  text-decoration: none;
  z-index: 0;
  overflow: hidden;
  color: #486838;
}
#card2 h5 {
  font-weight: 700;
}
#card2 p {
  /* color: #989c93; */
  font-weight: 500;
}
#card2:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -16px;
  right: -16px;
  background: #99d37e;
  opacity: 0.75;
  height: 32px;
  width: 32px;
  border-radius: 32px;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: transform 0.25s ease-out;
}
#card2:hover::before {
  transform: scale(33);
}
#card2:hover {
  transition: all 0.3s ease-out;
  color: #ffffff;
}
